<a href="https://colab.research.google.com/github/sametgirgin/Machine-Learning-Intro/blob/master/Classification_Titanic_Case_w_Three_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School, Intro to Data Science, Day 8 — Classification!

## Assignment

Run this cell to load the Titanic data:

In [0]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
train, test = train_test_split(sns.load_dataset('titanic').drop(columns=['alive']), random_state=0)
target = 'survived'

#drop the alive column that represents the survived one as yes and non-survived one as no...

Then, train a [Logistic Regression](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression.predict_proba), [Decision Tree](http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html), or [Random Forest](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html) model. Use any features and parameters you want. 

Try to get better than 78.0% accuracy on the test set! (This is not required, but encouraged.)

Do refer to the lecture notebook — but try not to copy-paste.

> You must type each of these exercises in, manually. If you copy and paste, you might as well not even do them. The point of these exercises is to train your hands, your brain, and your mind in how to read, write, and see code. If you copy-paste, you are cheating yourself out of the effectiveness of the lessons. —*[Learn Python the Hard Way](https://learnpythonthehardway.org/book/intro.html)*

After this, you may want to try [Kaggle's Titanic challenge](https://www.kaggle.com/c/titanic)!

In [38]:
train.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alone,female
105,0,3,male,28.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,True,0
68,1,3,female,17.0,4,2,7.9250,S,Third,woman,False,NaN,Southampton,False,1
253,0,3,male,30.0,1,0,16.1000,S,Third,man,True,NaN,Southampton,False,0
320,0,3,male,22.0,0,0,7.2500,S,Third,man,True,NaN,Southampton,True,0
706,1,2,female,45.0,0,0,13.5000,S,Second,woman,False,NaN,Southampton,True,1

In [9]:
train.survived.value_counts()

0    410
1    258
Name: survived, dtype: int64

In [0]:
predictions=[0]*len(train)

In [12]:
from sklearn.metrics import accuracy_score

accuracy_score(train.survived, predictions)

0.6137724550898204

In [13]:
410/(410+258)

0.6137724550898204

In [15]:
from sklearn.metrics import confusion_matrix

def matrix (y_true,y_pred):
  data=confusion_matrix(y_true,y_pred)
  index=['Actual 0','Actual 1']
  column=['Predicted 0', 'Predicted 1']
  return pd.DataFrame(data,index,column)

matrix(train.survived, predictions)

          Predicted 0  Predicted 1
Actual 0          410            0
Actual 1          258            0

In [0]:
#FEATURE PREPROCESSING

In [36]:
train[['sex', 'age','fare']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 105 to 684
Data columns (total 3 columns):
sex     668 non-null object
age     668 non-null float64
fare    668 non-null float64
dtypes: float64(2), object(1)
memory usage: 40.9+ KB

In [0]:
#ENCODE SEX (To convert it to understandable)

In [0]:
train['female']=(train.sex=='female').astype(int)
test['female']=(test.sex=='female').astype(int)

In [33]:
train[['sex','age','fare']].head()

        sex   age     fare
105    male  28.0   7.8958
68   female  17.0   7.9250
253    male  30.0  16.1000
320    male  22.0   7.2500
706  female  45.0  13.5000

In [0]:
#There is no missing values in sex and fare columns. But fill the missing value in age column

In [39]:
train.age.isnull().sum()

0

In [40]:
train.age.mean()

29.900000000000013

In [41]:
train.age.fillna(train.age.mean(), inplace=True)
train.age.isnull().sum()

0

In [44]:
test.age.isnull().sum()

44

In [45]:
test.age.mean()

29.098715083798883

In [46]:
test.age.fillna(test.age.mean(),inplace=True)
test.age.isnull().sum()

0

In [0]:
#LOGISTIC REGRESSION MODEL:

In [50]:
from sklearn.linear_model import LogisticRegression
features=['female','age','fare']
target='survived'

model=LogisticRegression()
model.fit(train[features],train[target])

#Train Accuracy: 
y_true=train[target]
y_pred=model.predict(train[features])
print('Train Accuracy: ',accuracy_score(y_true,y_pred))

#Test Accuracy: 
y_true=test[target]
y_pred=model.predict(test[features])
print('Test Accuracy: ',accuracy_score(y_true,y_pred))

Train Accuracy:  0.7859281437125748
Test Accuracy:  0.7757847533632287

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [51]:
matrix(y_true,y_pred)

          Predicted 0  Predicted 1
Actual 0          114           25
Actual 1           25           59

In [54]:
accuracy_score(y_true,y_pred) #Accuracy ~%78

0.7757847533632287